.foot__container {
    position: relative;
    top: -228px;
    margin-bottom: -228px;
}

.cs__center {
    position: relative;
    height: 730px;
    z-index: 0;
    // margin-top: 100px;
    color: #fff;

    .content__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .more {
            color: #fff;
            font-size: 19px;
            padding-right: 4px;
            display: inline-flex;
            align-items: center;

            &::after {
                content: '';
                width: 24px;
                height: 24px;
                background: url(img/more__arrow__right.png) no-repeat center;
            }
        }
    }

    
    .content__title {
        font-size: 32px;
        font-weight: bold;
    }


    .bg {
        width: 100%;
        height: 730px;
        position: absolute;
        z-index: -3;
        top: 0px;
        background: url(../img/cs__center.jpg)no-repeat center;
        background-size: cover;
    }

    .content {
        display: flex;
        justify-content: space-between;
        padding-top: 338px;

        .item {
            width: 610px;
        }

        .visitor__graph .graph__img {display: flex; justify-content: center; align-items: center;}
        .visitor__graph img {width: 100%;}

        .qa {
          

            .content__qa {
                margin-top: 40px;

                a{
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    display: block;
                    padding: 33px 0 33px 24px;
                    color: #fff;

                    .text {
                        white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

                        span {
                            margin-right: 32px;
                        }

                        font-size: 20px;
                        font-weight: 700;
                    }
                }
            }

            a:not(:last-child){
                border-bottom: 1px solid #fff;
            }

        }

        
    }

}

footer {
    position: relative;
    overflow: hidden;

    .footer__top {
        border: 1px solid #D8D8D8;
        height: 56px;
 
        .btn__flex {
            display: flex;
            justify-content: space-between;

            .top__btn {
                width: 25%;

                a{
                    padding: 0 24px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    line-height: 56px;
                    border-left: 1px solid #D8D8D8;
                    box-sizing: border-box;
                    
                    &::after {
                        content: '';
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        background: url(img/plus__icon.png) no-repeat center;
                    }
                }

                .last__btn {
                    border-right: 1px solid #D8D8D8;
                }
            }
        }
    }
}

.footer__bottom {

    .footer__logo {
        padding-top: 40px;
    }

    .footer__flex {
        display: flex;
        align-items: flex-start;
        padding-top: 40px;
        justify-content: space-between;
    }
}

.footer__info p {
    font-size: 17px;

    &:nth-child(1) { margin-bottom: 24px; line-height: 150%;}
    &:nth-child(2) { margin-bottom: 20px;}
}

.sns__info {
    .info__btn {
        padding-bottom: 22px;
        a {
            font-weight: 700;
            font-size: 17px;
            display: inline-flex;
            align-items: center;

            &::after {
                content: '';
                width: 24px;
                height: 24px;
                background: url(img/more__arrow__right__black.png) no-repeat center;
            }
        }
    }


    .icon__wrap {
        padding: 40px 0;

        a {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #e4e4e4;
            position: relative;
            margin-right: 8px;
        }

        .insta {background: url(../img/Social__medialink_base.png);}
        .youtube {background: url(../img/Social__medialink_base-1.png);}
        .twitter {background: url(../img/Social__medialink_base-2.png);}
        .facebook {background: url(../img/Social__medialink_base-3.png);}
        .naverblog {background: url(../img/Social__medialink_base-4.png);}
    }
}

.footer__global {
    padding-top: 16px;
    padding-bottom: 40px;
    border-top: 1px solid #D8D8D8;

    .g__flex {
        display: flex;
        justify-content: space-between;
    }

    .global__link a { font-size: 17px; margin-right: 24px;}
    .global__link .strong { font-weight: 700; color: #003675;}

    .copyright {color: #555555;}
}
