/* 태블릿 큰 사이즈 768px ~ 1079px */
@media all and (min-width: 768px) and ( max-width: 1079px)  {


 .wrap .inner {width: 100%; padding: 0 20px;}

 .top__visual .main__hero .main__text {position: static; padding-top: 63px; text-align: center;} 

 .count__group .count {width: calc(25% - 16px); height: auto; padding: 20px 0;}
 .count__group .count .subc {font-size: 32px;}

 .top__visual .main__hero {height: auto;}
 .top__visual .main__hero .quick__menu {position: static; justify-content: center; padding-top: 100px; padding-bottom: 40px;}
 .count__group {position: static; padding: 40px 0;}


 .wrap {
    .main__swiper .main__btn__group {bottom: -20px}

    .swiper__container {
        width: 85.625%; /// 1024의 85.625% 계산 결과
    }
    
    .footer__top .inner {padding: 0;}
    .footer__bottom .footer__flex {flex-direction: column;}   
    .footer__global .g__flex {flex-direction: column;}
    .footer__global .global__link {margin-top: 16px;}
    .footer__global .global__link a {display: block; width: 100%; margin-bottom: 16px;}
    .footer__bottom .footer__logo {display: none;}
    .footer__bottom .mobile__logo {padding-top: 40px;}
    .sns__info {padding-top: 32px;}
    .sns__info .icon__wrap {padding: 32px 0;}
    
    // .banner__swiper {부모임}
    .banner__btn {width: calc(100% - 40px);}
 }
}




/* 노트북 소형~ 중형 1080px ~ 1440px */
@media all and (min-width:1080px) and (max-width:1440px) { 
    //스타일 입력

    .wrap .inner {width: 1024px;}


    .wrap {

        .cs__center .content .item {
            width: 480px;
        }

        .swiper__container {
            width: 876px; /// 1024의 85.625% 계산 결과
        }

        .count__group .count {width: calc(25% - 16px);}

        .banner__btn {width: 1024px;}


    }
  } 


/* 모바일 가로 & 테블릿 세로 480px ~ 767px */ 
@media all and (min-width:480px) and (max-width:767px) {

    .wrap {
        .inner {width: 100%; padding: 0 16px;}
        .swiper__container {width: 100%; padding: 0 92px;} 
        .header__top {display: none;}
        .top__banner {height: auto;}
        .banner__wrap {display: flex;}

        
        
        .logo {display: none;}
        .mobile__logo {display: block;}
        .header__btm {margin: 8px 0;}
        .base__gnb {display: none;}


        .header__btm .right__icon__set .talk {display: none;}
        .header__btm .right__icon__set .sign__up {display: none;}
        .header__btm .right__icon__set .hamburger {display: inline-flex;}
        .header__btm .right__icon__set a {flex-direction: column; font-size: 13px; } 
        .header__btm .right__icon__set a span {padding-top: 8px;}
        .header__btm .right__icon__set a img {margin: 0;}
        
        .top__visual .main__hero {height: auto;}
        .top__visual .main__hero .main__text {
            position: static;
            padding-top: 63px;
            text-align: center;
        }

        .top__visual .main__hero .main__text .main__bold {font-size: 32px; padding-bottom: 32px;}
        .top__visual .main__hero .quick__menu {position: static; padding-top: 100px; padding-bottom: 40px; justify-content: center;} 
        .top__visual .main__hero .quick__menu .quick__wrap {width: 100px; height: 100px; margin: 0;}
        .top__visual .main__hero .quick__menu .quick__wrap:nth-child(2) {margin: 0 24px;}
        .top__visual .main__hero .quick__menu .quick__wrap span {padding-top: 8px; font-size: 13px;}

         // 탑 비주얼 하얀색 
         .count__group {position: static; padding: 40px 0;}
         .count__group .count:nth-child(1), .count__group .count:nth-child(2) {
             margin-bottom: 16px;
         }
 
         .count__group .inner {flex-wrap: wrap;}
         .count__group .count {width: calc(50% - 8px);}
         .count__group .count .subc {font-size: 32px;}

         .wrap .swiper__container {width: 80%;}
         .banner__swiper .swiper-slide-active {visibility: visible;}
         .banner__swiper .swiper-slide:not(.swiper-slide-active) {visibility: hidden;}
         .banner__swiper .swiper-slide { max-width: none;}

        // 고객센터 영역
        .cs__center {height: auto;}
        .cs__center .content {flex-direction: column; padding-top: 288px;}
        .cs__center .content .item {width: 100%;}
        .cs__center .bg {height: 100%;}
        .cs__center .content__title {font-size: 25px;}
        .cs__center .content .qa .content__qa a {padding-right: 24px;}

        .cs__center .content .visitor__graph {padding: 40px 0;}
        .cs__center .content .visitor__graph img {width: 90%;}

        //  푸터 영역
        footer .footer__top .btn__flex {width: 100vw; margin-left: calc(-50vw + 50%);}
        footer .footer__top {height: auto;}
        footer .footer__top .btn__flex .top__btn:nth-child(1) {border-top: 1px solid #D8D8D8;}
        footer .footer__top .btn__flex .top__btn {width: 100%; border-bottom: 1px solid #D8D8D8;}
        footer .footer__top .btn__flex {flex-direction: column;} 
        footer .footer__bottom .footer__flex {flex-direction: column;}

        .footer__global .g__flex {flex-direction: column;}
        .footer__global .global__link {margin-top: 16px;}
        .footer__global .global__link a {display: block; width: 100%; margin-bottom: 16px;}
        .footer__bottom .footer__logo {display: none;}
        .footer__bottom .mobile__logo {padding-top: 40px;}
        .sns__info {padding-top: 32px;}
        .sns__info .icon__wrap {padding: 32px 0;}
    }

    .banner__btn {width: calc(100% - 16px); }
  } 





  /* pc 전환시까지 변환 유지 되어야 하는 영역 */
  @media all and (min-width: 767px) and (max-width: 1079px) {

        .swiper__container {width: 100%;}

         // 고객센터 영역
         .cs__center {height: auto;}
         .cs__center .content {flex-direction: column; padding-top: 288px;}
         .cs__center .content .item {width: 100%;}
         .cs__center .bg {height: 100%;}
         .cs__center .content__title {font-size: 25px;}
         .cs__center .content .qa .content__qa a {padding-right: 24px;}
 
         .cs__center .content .visitor__graph {padding: 40px 0;}
         .cs__center .content .visitor__graph img {width: 90%;}

         .banner__box .banner__text p {font-size: 20px;}
         

  }
  
  









  /* 모바일 세로 (해상도 ~ 479px) 까지 */ 
  @media all and (max-width:479px){

    .wrap {
        .inner {width: 100%; padding: 0 16px;}
        .header__top {display: none;}
        .top__banner {height: auto;}
        .banner__wrap {display: flex;}
        .header__btm .right__icon__set .talk {display: none;}
        .header__btm .right__icon__set .sign__up {display: none;}
        .header__btm .right__icon__set .hamburger {display: inline-flex;}

    
        .logo {display: none;}
        .mobile__logo {display: block;}
        .header__btm {margin: 8px 0;}
        .base__gnb {display: none;}
    
        .header__btm .right__icon__set a {flex-direction: column; font-size: 13px; } 
        .header__btm .right__icon__set a span {padding-top: 8px;}
        .header__btm .right__icon__set a img {margin: 0;}
        
        .top__visual .main__hero {height: auto;}
        .top__visual .main__hero .main__text {
            position: static;
            padding-top: 63px;
            text-align: center;
        }

        .top__visual .main__hero .main__text .main__bold {font-size: 32px; padding-bottom: 32px;}
        .top__visual .main__hero .quick__menu {position: static; padding-top: 100px; padding-bottom: 40px; justify-content: center;} 
        .top__visual .main__hero .quick__menu .quick__wrap {width: 100px; height: 100px; margin: 0;}
        .top__visual .main__hero .quick__menu .quick__wrap:nth-child(2) {margin: 0 24px;}
        .top__visual .main__hero .quick__menu .quick__wrap span {padding-top: 8px; font-size: 13px;}


        // 탑 비주얼 하얀색 
        .count__group {position: static; padding: 40px 0;}
        .count__group .count:nth-child(1), .count__group .count:nth-child(2) {
            margin-bottom: 16px;
        }

        .count__group .inner {flex-wrap: wrap;}
        .count__group .count {width: calc(50% - 8px);}
        .count__group .count .subc {font-size: 32px;}


        // 메인 스와이퍼
        .main__swiper .bg {left: 40px; bottom: -20px;}
        .main__swiper .section__top {flex-direction: column;}
        .main__swiper .swiper-slide {
            margin: 0;
            width: 330px;
            max-width: 330px;
            margin-right: 16px;
        }
        

        .main__swiper .main__btn__group { left: 50%; transform: translateX(-50%);}
        .main__swiper .swiper-slide .item .item__wrap {padding: 36px 24px 0 24px}
        .main__swiper .swiper-slide .item {max-height: 560px;}
        .main__swiper .swiper-slide .item .item__wrap .total {margin-top: 16px;}
        .main__swiper .swiper-slide .item .item__wrap .btn__group button {width: 50%;}
        .main__swiper .swiper-slide .item .item__wrap .btn__group .income {width: 65%; right: 16px;}
        .main__swiper .swiper-slide:not(.swiper-slide-active) .item {margin-top: 0;}
        .main__swiper .section__title {font-size: 32px;}
        .main__swiper .form__select {width: calc(100% - 32px); margin-top: 24px;}
        .main__swiper .swiper-slide .item {width: 100%;}
        .main__swiper .swiper-slide-active .item .item__wrap .total .total__wrap:nth-child(1) { border: none;}


        // 고객센터 영역
        .cs__center {height: auto;}
        .cs__center .content {flex-direction: column; padding-top: 288px;}
        .cs__center .content .item {width: 100%;}
        .cs__center .bg {height: 100%;}
        .cs__center .content__title {font-size: 25px;}
        .cs__center .content .qa .content__qa a {padding-right: 24px;}

        .visitor__graph {padding: 40px 0 80px 0;}
        .visitor__graph .graph__img {
            width: 100%;

            img {
                width: 100%;
            }
        }

    // 스와이퍼 영역
        .swiper__container {
            width: 80%;
            padding: 0;

          
        }

        .banner__btn {
            position: static;
            transform: none;
        }


    // 푸터 영역 
    footer .footer__top .btn__flex {width: 100vw; margin-left: calc(-50vw + 50%);}
    footer .footer__top {height: auto;}
    footer .footer__top .btn__flex .top__btn:nth-child(1) {border-top: 1px solid #D8D8D8;}
    footer .footer__top .btn__flex .top__btn {width: 100%; border-bottom: 1px solid #D8D8D8;}
    footer .footer__top .btn__flex {flex-direction: column;} 
    footer .footer__bottom .footer__flex {flex-direction: column;}

    .footer__global .g__flex {flex-direction: column;}
    .footer__global .global__link {margin-top: 16px;}
    .footer__global .global__link a {display: block; width: 100%; margin-bottom: 16px;}
    .footer__bottom .footer__logo {display: none;}
    .footer__bottom .mobile__logo {padding-top: 40px;}
    .sns__info {padding-top: 32px;}
    .sns__info .icon__wrap {padding: 32px 0;}
    }
  }

  /* 모바일 최소 사이즈*/
  @media all and (max-width:420px) {

    .wrap {

        .mobile__logo {width: 30%;}
        .mobile__logo img {width: 170%;}
        .header__btm .right__icon__set a {padding: 10px 8px;}

        .top__visual .main__hero .main__text .main__bold {font-size: 24px; white-space: nowrap;}
        .top__visual .main__hero .main__text .main__medium {font-size: 15px;}
        .top__visual .main__hero .quick__menu .quick__wrap {width: 90px; height: 90px;}
   
       .manual .tip {object-fit: contain; width: 120px; height: auto;}
       .banner__text {font-size: 15px;}
    }
   
  }




  /* 소형 노트북 & 태블릿 가로 사이즈  1024px ~ 1079px */

@media all and (min-width: 1024px) and (max-width: 1079px){

}