@charset "UTF-8";
.header {
  position: relative;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  border-bottom: 1.5px solid #ededed;
  transition: all 0.5s;
}

.header__fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transform: translateY(0);
}

.top__banner {
  height: 32px;
  background-color: #EDF1F5;
}
.top__banner .banner__wrap {
  flex-wrap: nowrap;
  line-height: 32px;
}
.top__banner .banner__wrap .korea {
  margin-right: 8px;
  display: inline-block;
  width: 28px;
  height: 20px;
  background: url(img/태극기_medium.png) no-repeat center;
  position: relative;
  top: 4px;
}

.banner__text {
  display: inline-block;
}

.banner__text a {
  color: #003675;
  font-weight: 500;
  margin-left: 16px;
  margin-right: 4px;
  display: inline-flex;
  align-items: center;
}
.banner__text a::after {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url(img/icon__arrow__down.svg) no-repeat center;
}

.header__top {
  display: flex;
  height: 40px;
  justify-content: end;
  align-items: center;
}
.header__top a:not(:last-child) {
  border-right: 2px solid #D8D8D8;
}
.header__top a {
  display: inline-flex;
  align-items: center;
  margin-right: 12px;
  padding-right: 12px;
}
.header__top a::after {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url(img/icon__arrow__down.svg) no-repeat center;
}

.header__btm {
  position: relative;
  align-items: center;
  display: flex;
  margin-bottom: 16px;
}
.header__btm .right__icon__set {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header__btm .right__icon__set a {
  font-weight: bold;
  font-size: 17px;
  padding: 10px 12px;
  display: inline-flex;
  align-items: center;
}
.header__btm .right__icon__set a img {
  margin-right: 8px;
}
.header__btm .right__icon__set a span {
  white-space: nowrap;
}
.header__btm .right__icon__set .talk__count {
  display: inline-block;
  width: 26px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #246BEB;
  color: #fff;
  border-radius: 20px;
  font-size: 15px;
  font-size: 400;
  margin-left: 8px;
}

.base__gnb {
  height: 64px;
}
.base__gnb a {
  line-height: 64px;
  margin-right: 16px;
  font-weight: bold;
  font-size: 19px;
  color: #555555;
  display: inline-flex;
  align-items: center;
}
.base__gnb a::after {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(img/icon__arrow__20.png) no-repeat center;
  margin-left: 8px;
}

.border {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  border: 1px solid #D8D8D8;
}

.top__visual {
  width: 100%;
  color: #fff;
}
.top__visual .main__hero {
  width: 100%;
  height: 450px;
  background: url(../img/main__hero.png) no-repeat center;
  background-size: cover;
}
.top__visual .main__hero .inner {
  position: relative;
  z-index: 1;
}
.top__visual .main__hero .main__text {
  position: absolute;
  top: 97px;
  left: 0;
}
.top__visual .main__hero .main__text .main__bold {
  font-size: 40px;
  line-height: 150%;
}
.top__visual .main__hero .main__text .main__medium {
  line-height: 180%;
}
.top__visual .main__hero .quick__menu {
  position: absolute;
  right: 0;
  top: 128px;
  display: flex;
}
.top__visual .main__hero .quick__menu .quick__wrap {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 2px solid #DBDBDB;
  background-color: #373737;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 48px;
  cursor: pointer;
}
.top__visual .main__hero .quick__menu .quick__wrap:nth-last-child(1) {
  margin-right: 0;
}
.top__visual .main__hero .quick__menu .quick__wrap span {
  padding-top: 16px;
  color: #fff;
}

.manual {
  position: relative;
}
.manual .tip {
  position: absolute;
  top: -60px;
}

.count__group {
  position: relative;
  z-index: 2;
  top: -86px;
}
.count__group .inner {
  display: flex;
  justify-content: space-between;
}
.count__group .count {
  width: 296px;
  height: 180px;
  background-color: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1d1d1d;
}
.count__group .count .title {
  font-size: 17px;
  line-height: 150%;
  font-weight: 600;
}
.count__group .count .subc {
  font-size: 50px;
  font-weight: 700;
  color: #246BEB;
  margin-top: 32px;
}
.count__group .count .subc span {
  font-size: 16px;
  color: #000000;
  opacity: 0.3;
}

.swiper__container {
  width: 1096px;
  padding-left: 92px;
  padding-right: 92px;
}

.banner__swiper {
  position: relative;
  margin-bottom: 60px;
}
.banner__swiper .swiper__wrapper {
  display: flex; /* flexbox 레이아웃을 사용 */
  justify-content: center; /* 슬라이드를 중앙에 배치 */
  margin: 0 auto;
}
.banner__swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  position: relative;
}
.banner__swiper .swiper-slide .item__desc {
  font-size: 24px;
  margin-left: 24px;
  font-weight: 700;
  color: #fff;
  text-align: left;
  line-height: 150%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 24px;
}

.banner__box {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.banner__box .banner__text {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}
.banner__box .banner__text p {
  color: #fff;
  font-size: 24px;
  line-height: 150%;
  font-weight: 700;
}
.banner__box img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 98;
}

.worker {
  background-color: #06A8E7;
}

.work__condition {
  background-color: #0184FE;
}

.work__portal {
  background-color: #3A43BA;
}

.banner__btn {
  position: absolute;
  width: 1280px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}
.banner__btn .swiper-button-next {
  background: url(../img/swiper__next__btn.png) no-repeat center;
  background-size: contain;
  right: 12px;
}
.banner__btn .swiper-button-prev {
  background: url(../img/swiper__prev__btn.png) no-repeat center;
  background-size: contain;
  left: 12px;
}
.banner__btn .swiper-button-prev, .banner__btn .swiper-button-next {
  width: 64px;
  height: 64px;
}
.banner__btn .swiper-button-prev::after, .banner__btn .swiper-button-next::after {
  display: none;
}

.main__swiper {
  height: 854px;
}
.main__swiper .section__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}
.main__swiper .section__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
}
.main__swiper .section__title .strong {
  color: #246BEB;
}
.main__swiper .form__select {
  width: 150px;
  border: 0;
  border-bottom: 1px solid #dbdbdb;
  padding: 16px;
  font-size: 19px;
  -webkit-appearance: none; /* 크롬 화살표 없애기 */
  -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
  appearance: none; /* 화살표 없애기 */
  background: url(../img/icon__arrow__20.png) no-repeat;
  background-position: right 16px center;
}

.main__swiper .bg {
  right: -272px;
  position: absolute;
  height: 600px;
  bottom: 0;
  z-index: 1;
  width: 1920px;
  background-color: #003675;
  border-radius: 60px 0px 0 60px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.main__swiper {
  position: relative;
}
.main__swiper .pagination__bg {
  width: 67px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  background-color: #fff;
  text-align: center;
}
.main__swiper .pagination__bg .swiper-pagination {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main__swiper .main__btn__group {
  display: flex;
  align-items: center;
  width: 400px;
  padding: 0 60px;
  position: relative;
  bottom: -42px;
  box-sizing: border-box;
}
.main__swiper .main__btn__group .swiper__pause {
  height: 40px;
  margin-left: 8px;
}
.main__swiper .main__btn__group .arrow__flex {
  display: flex;
  margin-left: 8px;
}
.main__swiper .main__btn__group .swiper-button-next, .main__swiper .main__btn__group .swiper-button-prev {
  margin-top: 0;
  width: 40px;
  height: 40px;
  position: static;
}
.main__swiper .main__btn__group .swiper-button-next::after, .main__swiper .main__btn__group .swiper-button-prev::after {
  display: none;
}
.main__swiper .main__btn__group .more__main {
  margin-left: 8px;
  width: 40px;
  height: 40px;
  background: url(../img/more__main.png) no-repeat center;
}
.main__swiper .main__btn__group .swiper-button-prev {
  background: url(../img/swiper__main__prev.png) no-repeat center;
  background-size: contain;
}
.main__swiper .main__btn__group .swiper-button-next {
  margin-left: 8px;
  background: url(../img/swiper__main__next.png) no-repeat center;
  background-size: contain;
}
.main__swiper .main__btn__group .swiper-pagination-fraction {
  font-weight: 700;
}
.main__swiper .main__btn__group .swiper-pagination-current {
  margin-right: 4px;
  color: #246BEB;
}
.main__swiper .main__btn__group .swiper-pagination-total {
  margin-left: 4px;
}
.main__swiper .swiper {
  overflow: visible;
  z-index: 2;
}
.main__swiper .swiper-slide {
  margin-right: 40px;
  transition: all 0.3s ease;
  width: auto;
  position: relative;
  max-width: 400px;
}
.main__swiper .swiper-slide .item {
  width: 400px;
  height: 600px;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.2);
}
.main__swiper .swiper-slide .item .item__wrap {
  padding: 55px 32px 0 32px;
}
.main__swiper .swiper-slide .item .item__wrap .index {
  margin-bottom: 24px;
  font-size: 24px;
}
.main__swiper .swiper-slide .item .item__wrap .title {
  margin-bottom: 16px;
  font-size: 24px;
}
.main__swiper .swiper-slide .item .item__wrap .group {
  display: inline-block;
  background-color: #D3E1FB;
  color: #246BEB;
  margin-bottom: 32px;
  font-size: 15px;
  padding: 6px 8px;
}
.main__swiper .swiper-slide .item .item__wrap .btn__group {
  position: relative;
  z-index: 2;
  display: flex;
  margin-bottom: 32px;
}
.main__swiper .swiper-slide .item .item__wrap .btn__group button {
  width: 180px;
  height: 48px;
  line-height: 48px;
  font-size: 17px;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
}
.main__swiper .swiper-slide .item .item__wrap .btn__group .asset {
  position: relative;
  left: 20px;
}
.main__swiper .swiper-slide .item .item__wrap .btn__group .income {
  position: relative;
  right: 20px;
  top: 0;
}
.main__swiper .swiper-slide .item .item__wrap .btn__group .income .text {
  padding-left: 12px;
}
.main__swiper .swiper-slide .item .item__wrap .stick__flex {
  display: flex;
  justify-content: center;
}
.main__swiper .swiper-slide .item .item__wrap .stick__flex .stick__graph-1, .main__swiper .swiper-slide .item .item__wrap .stick__flex .stick__graph-2 {
  margin: 0 40px;
  width: 80px;
  height: 210px;
}
.main__swiper .swiper-slide .item .item__wrap .stick__flex .stick__graph-1 {
  background: linear-gradient(to top, #767676 0 72%, #DEDEDE 32% 100%);
}
.main__swiper .swiper-slide .item .item__wrap .stick__flex .stick__graph-2 {
  background: linear-gradient(to top, #767676 0 26%, #DEDEDE 22% 100%);
}
.main__swiper .swiper-slide .item .item__wrap .circle__graph {
  margin: 0px auto;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background: conic-gradient(#003675 0% 70%, #fff 70% 100%);
  position: relative;
}
.main__swiper .swiper-slide .item .item__wrap .circle__graph::before {
  content: "";
  width: 80px;
  height: 80px;
  background-color: #fff; /* 배경색과 같은 색으로 설정 */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main__swiper .swiper-slide .item .item__wrap .circle__graph .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.main__swiper .swiper-slide .item .item__wrap .circle__graph .text .detail {
  font-size: 24px;
  font-weight: 700;
}
.main__swiper .swiper-slide .item .item__wrap .total {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.main__swiper .swiper-slide .item .item__wrap .total .total__wrap {
  width: 50%;
  text-align: center;
}
.main__swiper .swiper-slide .item .item__wrap .total .money {
  font-size: 17px;
  font-weight: 700;
}
.main__swiper .swiper-slide .item .item__wrap .total .detail {
  font-size: 17px;
  font-weight: 600;
}
.main__swiper .swiper-slide .item .item__wrap .total .detail span {
  font-weight: 400;
  font-size: 13px;
  color: #767676;
}
.main__swiper .swiper-slide .item .item__wrap .total .bg {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.swiper-slide-active .active--style {
  background-color: #003675;
  color: #fff;
}

.swiper-slide:not(.swiper-slide-active) .active--style {
  background-color: #444444;
  color: #fff;
}

.active--style {
  background-color: #003675;
  color: #fff;
  z-index: 4;
}

.main__swiper .swiper-slide-active .item {
  background-color: #246BEB;
  margin-top: 0;
}
.main__swiper .swiper-slide-active .item .item__wrap .circle__graph .text p {
  color: #fff;
}
.main__swiper .swiper-slide-active .item .item__wrap .index, .main__swiper .swiper-slide-active .item .item__wrap .title {
  color: #fff;
}
.main__swiper .swiper-slide-active .item .item__wrap .graph .circle__graph::before {
  background-color: #246BEB;
}
.main__swiper .swiper-slide-active .item .item__wrap .graph .stick__graph-1 {
  background: linear-gradient(to top, #003675 0 72%, #fff 32% 100%);
}
.main__swiper .swiper-slide-active .item .item__wrap .graph .stick__graph-2 {
  background: linear-gradient(to top, #003675 0 26%, #fff 22% 100%);
}
.main__swiper .swiper-slide-active .item .item__wrap .total {
  background-color: #fff;
  box-sizing: content-box;
  width: calc(100% + 64px); /* 부모의 padding 값을 고려하여 너비를 설정 */
  margin-left: -32px; /* 패딩 값을 무시하고 좌측으로 이동 */
  margin-right: -32px; /* 패딩 값을 무시하고 우측으로 이동 */
  padding-bottom: 16px;
  padding-top: 12px;
}
.main__swiper .swiper-slide-active .item .item__wrap .total .total__wrap:nth-child(1) {
  border-right: 1.5px solid lightgray;
}
.main__swiper .swiper-slide-active .item .item__wrap .total .total__wrap p:nth-child(1) {
  color: #003675;
  margin-bottom: 16px;
}
.main__swiper .swiper-slide-active .item .item__wrap .total .total__wrap p:nth-child(2) {
  color: #1d1d1d;
}

.main__swiper .swiper-slide:not(.swiper-slide-active) .item {
  margin-top: 50px;
}
.main__swiper .swiper-slide:not(.swiper-slide-active) .item .item__wrap .graph .circle__graph {
  background: conic-gradient(#767676 0% 70%, #ededed 70% 100%);
}

.foot__container {
  position: relative;
  top: -228px;
  margin-bottom: -228px;
}

.cs__center {
  position: relative;
  height: 730px;
  z-index: 0;
  color: #fff;
}
.cs__center .content__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cs__center .content__top .more {
  color: #fff;
  font-size: 19px;
  padding-right: 4px;
  display: inline-flex;
  align-items: center;
}
.cs__center .content__top .more::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url(img/more__arrow__right.png) no-repeat center;
}
.cs__center .content__title {
  font-size: 32px;
  font-weight: bold;
}
.cs__center .bg {
  width: 100%;
  height: 730px;
  position: absolute;
  z-index: -3;
  top: 0px;
  background: url(../img/cs__center.jpg) no-repeat center;
  background-size: cover;
}
.cs__center .content {
  display: flex;
  justify-content: space-between;
  padding-top: 338px;
}
.cs__center .content .item {
  width: 610px;
}
.cs__center .content .visitor__graph .graph__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cs__center .content .visitor__graph img {
  width: 100%;
}
.cs__center .content .qa .content__qa {
  margin-top: 40px;
}
.cs__center .content .qa .content__qa a {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
  padding: 33px 0 33px 24px;
  color: #fff;
}
.cs__center .content .qa .content__qa a .text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 20px;
  font-weight: 700;
}
.cs__center .content .qa .content__qa a .text span {
  margin-right: 32px;
}
.cs__center .content .qa a:not(:last-child) {
  border-bottom: 1px solid #fff;
}

footer {
  position: relative;
  overflow: hidden;
}
footer .footer__top {
  border: 1px solid #D8D8D8;
  height: 56px;
}
footer .footer__top .btn__flex {
  display: flex;
  justify-content: space-between;
}
footer .footer__top .btn__flex .top__btn {
  width: 25%;
}
footer .footer__top .btn__flex .top__btn a {
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  line-height: 56px;
  border-left: 1px solid #D8D8D8;
  box-sizing: border-box;
}
footer .footer__top .btn__flex .top__btn a::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(img/plus__icon.png) no-repeat center;
}
footer .footer__top .btn__flex .top__btn .last__btn {
  border-right: 1px solid #D8D8D8;
}

.footer__bottom .footer__logo {
  padding-top: 40px;
}
.footer__bottom .footer__flex {
  display: flex;
  align-items: flex-start;
  padding-top: 40px;
  justify-content: space-between;
}

.footer__info p {
  font-size: 17px;
}
.footer__info p:nth-child(1) {
  margin-bottom: 24px;
  line-height: 150%;
}
.footer__info p:nth-child(2) {
  margin-bottom: 20px;
}

.sns__info .info__btn {
  padding-bottom: 22px;
}
.sns__info .info__btn a {
  font-weight: 700;
  font-size: 17px;
  display: inline-flex;
  align-items: center;
}
.sns__info .info__btn a::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url(img/more__arrow__right__black.png) no-repeat center;
}
.sns__info .icon__wrap {
  padding: 40px 0;
}
.sns__info .icon__wrap a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #e4e4e4;
  position: relative;
  margin-right: 8px;
}
.sns__info .icon__wrap .insta {
  background: url(../img/Social__medialink_base.png);
}
.sns__info .icon__wrap .youtube {
  background: url(../img/Social__medialink_base-1.png);
}
.sns__info .icon__wrap .twitter {
  background: url(../img/Social__medialink_base-2.png);
}
.sns__info .icon__wrap .facebook {
  background: url(../img/Social__medialink_base-3.png);
}
.sns__info .icon__wrap .naverblog {
  background: url(../img/Social__medialink_base-4.png);
}

.footer__global {
  padding-top: 16px;
  padding-bottom: 40px;
  border-top: 1px solid #D8D8D8;
}
.footer__global .g__flex {
  display: flex;
  justify-content: space-between;
}
.footer__global .global__link a {
  font-size: 17px;
  margin-right: 24px;
}
.footer__global .global__link .strong {
  font-weight: 700;
  color: #003675;
}
.footer__global .copyright {
  color: #555555;
}

/* 태블릿 큰 사이즈 768px ~ 1079px */
@media all and (min-width: 768px) and (max-width: 1079px) {
  .wrap .inner {
    width: 100%;
    padding: 0 20px;
  }
  .top__visual .main__hero .main__text {
    position: static;
    padding-top: 63px;
    text-align: center;
  }
  .count__group .count {
    width: calc(25% - 16px);
    height: auto;
    padding: 20px 0;
  }
  .count__group .count .subc {
    font-size: 32px;
  }
  .top__visual .main__hero {
    height: auto;
  }
  .top__visual .main__hero .quick__menu {
    position: static;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 40px;
  }
  .count__group {
    position: static;
    padding: 40px 0;
  }
  .wrap .main__swiper .main__btn__group {
    bottom: -20px;
  }
  .wrap .swiper__container {
    width: 85.625%;
  }
  .wrap .footer__top .inner {
    padding: 0;
  }
  .wrap .footer__bottom .footer__flex {
    flex-direction: column;
  }
  .wrap .footer__global .g__flex {
    flex-direction: column;
  }
  .wrap .footer__global .global__link {
    margin-top: 16px;
  }
  .wrap .footer__global .global__link a {
    display: block;
    width: 100%;
    margin-bottom: 16px;
  }
  .wrap .footer__bottom .footer__logo {
    display: none;
  }
  .wrap .footer__bottom .mobile__logo {
    padding-top: 40px;
  }
  .wrap .sns__info {
    padding-top: 32px;
  }
  .wrap .sns__info .icon__wrap {
    padding: 32px 0;
  }
  .wrap .banner__btn {
    width: calc(100% - 40px);
  }
}
/* 노트북 소형~ 중형 1080px ~ 1440px */
@media all and (min-width: 1080px) and (max-width: 1440px) {
  .wrap .inner {
    width: 1024px;
  }
  .wrap .cs__center .content .item {
    width: 480px;
  }
  .wrap .swiper__container {
    width: 876px;
  }
  .wrap .count__group .count {
    width: calc(25% - 16px);
  }
  .wrap .banner__btn {
    width: 1024px;
  }
  .wrap .banner__btn .swiper-button-next, .wrap .banner__btn .swiper-button-prev {
    width: 40px;
    height: 40px;
  }
}
/* 모바일 가로 & 테블릿 세로 480px ~ 767px */
@media all and (min-width: 480px) and (max-width: 767px) {
  .wrap .inner {
    width: 100%;
    padding: 0 16px;
  }
  .wrap .swiper__container {
    width: 100%;
    padding: 0 92px;
  }
  .wrap .header__top {
    display: none;
  }
  .wrap .top__banner {
    height: auto;
  }
  .wrap .banner__wrap {
    display: flex;
  }
  .wrap .logo {
    display: none;
  }
  .wrap .mobile__logo {
    display: block;
  }
  .wrap .header__btm {
    margin: 8px 0;
  }
  .wrap .base__gnb {
    display: none;
  }
  .wrap .header__btm .right__icon__set .talk {
    display: none;
  }
  .wrap .header__btm .right__icon__set .sign__up {
    display: none;
  }
  .wrap .header__btm .right__icon__set .hamburger {
    display: inline-flex;
  }
  .wrap .header__btm .right__icon__set a {
    flex-direction: column;
    font-size: 13px;
  }
  .wrap .header__btm .right__icon__set a span {
    padding-top: 8px;
  }
  .wrap .header__btm .right__icon__set a img {
    margin: 0;
  }
  .wrap .top__visual .main__hero {
    height: auto;
  }
  .wrap .top__visual .main__hero .main__text {
    position: static;
    padding-top: 63px;
    text-align: center;
  }
  .wrap .top__visual .main__hero .main__text .main__bold {
    font-size: 32px;
    padding-bottom: 32px;
  }
  .wrap .top__visual .main__hero .quick__menu {
    position: static;
    padding-top: 100px;
    padding-bottom: 40px;
    justify-content: center;
  }
  .wrap .top__visual .main__hero .quick__menu .quick__wrap {
    width: 100px;
    height: 100px;
    margin: 0;
  }
  .wrap .top__visual .main__hero .quick__menu .quick__wrap:nth-child(2) {
    margin: 0 24px;
  }
  .wrap .top__visual .main__hero .quick__menu .quick__wrap span {
    padding-top: 8px;
    font-size: 13px;
  }
  .wrap .count__group {
    position: static;
    padding: 40px 0;
  }
  .wrap .count__group .count:nth-child(1), .wrap .count__group .count:nth-child(2) {
    margin-bottom: 16px;
  }
  .wrap .count__group .inner {
    flex-wrap: wrap;
  }
  .wrap .count__group .count {
    width: calc(50% - 8px);
  }
  .wrap .count__group .count .subc {
    font-size: 32px;
  }
  .wrap .wrap .swiper__container {
    width: 80%;
  }
  .wrap .banner__swiper .swiper-slide-active {
    visibility: visible;
  }
  .wrap .banner__swiper .swiper-slide:not(.swiper-slide-active) {
    visibility: hidden;
  }
  .wrap .banner__swiper .swiper-slide {
    max-width: none;
  }
  .wrap .banner__btn .swiper-button-next, .wrap .banner__btn .swiper-button-prev {
    width: 40px;
    height: 40px;
  }
  .wrap .cs__center {
    height: auto;
  }
  .wrap .cs__center .content {
    flex-direction: column;
    padding-top: 288px;
  }
  .wrap .cs__center .content .item {
    width: 100%;
  }
  .wrap .cs__center .bg {
    height: 100%;
  }
  .wrap .cs__center .content__title {
    font-size: 25px;
  }
  .wrap .cs__center .content .qa .content__qa a {
    padding-right: 24px;
  }
  .wrap .cs__center .content .visitor__graph {
    padding: 40px 0;
  }
  .wrap .cs__center .content .visitor__graph img {
    width: 90%;
  }
  .wrap footer .footer__top .btn__flex {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
  }
  .wrap footer .footer__top {
    height: auto;
  }
  .wrap footer .footer__top .btn__flex .top__btn:nth-child(1) {
    border-top: 1px solid #D8D8D8;
  }
  .wrap footer .footer__top .btn__flex .top__btn {
    width: 100%;
    border-bottom: 1px solid #D8D8D8;
  }
  .wrap footer .footer__top .btn__flex {
    flex-direction: column;
  }
  .wrap footer .footer__bottom .footer__flex {
    flex-direction: column;
  }
  .wrap .footer__global .g__flex {
    flex-direction: column;
  }
  .wrap .footer__global .global__link {
    margin-top: 16px;
  }
  .wrap .footer__global .global__link a {
    display: block;
    width: 100%;
    margin-bottom: 16px;
  }
  .wrap .footer__bottom .footer__logo {
    display: none;
  }
  .wrap .footer__bottom .mobile__logo {
    padding-top: 40px;
  }
  .wrap .sns__info {
    padding-top: 32px;
  }
  .wrap .sns__info .icon__wrap {
    padding: 32px 0;
  }
  .banner__btn {
    width: calc(100% - 16px);
  }
}
/* pc 전환시까지 변환 유지 되어야 하는 영역 */
@media all and (min-width: 767px) and (max-width: 1079px) {
  .swiper__container {
    width: 100%;
  }
  .cs__center {
    height: auto;
  }
  .cs__center .content {
    flex-direction: column;
    padding-top: 288px;
  }
  .cs__center .content .item {
    width: 100%;
  }
  .cs__center .bg {
    height: 100%;
  }
  .cs__center .content__title {
    font-size: 25px;
  }
  .cs__center .content .qa .content__qa a {
    padding-right: 24px;
  }
  .cs__center .content .visitor__graph {
    padding: 40px 0;
  }
  .cs__center .content .visitor__graph img {
    width: 90%;
  }
  .banner__box .banner__text p {
    font-size: 20px;
  }
  .banner__btn .swiper-button-next, .banner__btn .swiper-button-prev {
    width: 40px;
    height: 40px;
  }
}
/* 모바일 세로 (해상도 ~ 479px) 까지 */
@media all and (max-width: 479px) {
  .wrap .inner {
    width: 100%;
    padding: 0 16px;
  }
  .wrap .header__top {
    display: none;
  }
  .wrap .top__banner {
    height: auto;
  }
  .wrap .banner__wrap {
    display: flex;
  }
  .wrap .header__btm .right__icon__set .talk {
    display: none;
  }
  .wrap .header__btm .right__icon__set .sign__up {
    display: none;
  }
  .wrap .header__btm .right__icon__set .hamburger {
    display: inline-flex;
  }
  .wrap .logo {
    display: none;
  }
  .wrap .mobile__logo {
    display: block;
  }
  .wrap .header__btm {
    margin: 8px 0;
  }
  .wrap .base__gnb {
    display: none;
  }
  .wrap .header__btm .right__icon__set a {
    flex-direction: column;
    font-size: 13px;
  }
  .wrap .header__btm .right__icon__set a span {
    padding-top: 8px;
  }
  .wrap .header__btm .right__icon__set a img {
    margin: 0;
  }
  .wrap .top__visual .main__hero {
    height: auto;
  }
  .wrap .top__visual .main__hero .main__text {
    position: static;
    padding-top: 63px;
    text-align: center;
  }
  .wrap .top__visual .main__hero .main__text .main__bold {
    font-size: 32px;
    padding-bottom: 32px;
  }
  .wrap .top__visual .main__hero .quick__menu {
    position: static;
    padding-top: 100px;
    padding-bottom: 40px;
    justify-content: center;
  }
  .wrap .top__visual .main__hero .quick__menu .quick__wrap {
    width: 100px;
    height: 100px;
    margin: 0;
  }
  .wrap .top__visual .main__hero .quick__menu .quick__wrap:nth-child(2) {
    margin: 0 24px;
  }
  .wrap .top__visual .main__hero .quick__menu .quick__wrap span {
    padding-top: 8px;
    font-size: 13px;
  }
  .wrap .count__group {
    position: static;
    padding: 40px 0;
  }
  .wrap .count__group .count:nth-child(1), .wrap .count__group .count:nth-child(2) {
    margin-bottom: 16px;
  }
  .wrap .count__group .inner {
    flex-wrap: wrap;
  }
  .wrap .count__group .count {
    width: calc(50% - 8px);
  }
  .wrap .count__group .count .subc {
    font-size: 32px;
  }
  .wrap .main__swiper .bg {
    left: 40px;
    bottom: -20px;
  }
  .wrap .main__swiper .section__top {
    flex-direction: column;
  }
  .wrap .main__swiper .swiper-slide {
    margin: 0;
    width: 330px;
    max-width: 330px;
    margin-right: 16px;
  }
  .wrap .banner__btn .swiper-button-next, .wrap .banner__btn .swiper-button-prev {
    width: 40px;
    height: 40px;
  }
  .wrap .main__swiper .main__btn__group {
    left: 50%;
    transform: translateX(-50%);
  }
  .wrap .main__swiper .swiper-slide .item .item__wrap {
    padding: 36px 24px 0 24px;
  }
  .wrap .main__swiper .swiper-slide .item {
    max-height: 560px;
  }
  .wrap .main__swiper .swiper-slide .item .item__wrap .total {
    margin-top: 16px;
  }
  .wrap .main__swiper .swiper-slide .item .item__wrap .btn__group button {
    width: 50%;
  }
  .wrap .main__swiper .swiper-slide .item .item__wrap .btn__group .income {
    width: 65%;
    right: 16px;
  }
  .wrap .main__swiper .swiper-slide:not(.swiper-slide-active) .item {
    margin-top: 0;
  }
  .wrap .main__swiper .section__title {
    font-size: 32px;
  }
  .wrap .main__swiper .form__select {
    width: calc(100% - 32px);
    margin-top: 24px;
  }
  .wrap .main__swiper .swiper-slide .item {
    width: 100%;
  }
  .wrap .main__swiper .swiper-slide-active .item .item__wrap .total .total__wrap:nth-child(1) {
    border: none;
  }
  .wrap .cs__center {
    height: auto;
  }
  .wrap .cs__center .content {
    flex-direction: column;
    padding-top: 288px;
  }
  .wrap .cs__center .content .item {
    width: 100%;
  }
  .wrap .cs__center .bg {
    height: 100%;
  }
  .wrap .cs__center .content__title {
    font-size: 25px;
  }
  .wrap .cs__center .content .qa .content__qa a {
    padding-right: 24px;
  }
  .wrap .visitor__graph {
    padding: 40px 0 80px 0;
  }
  .wrap .visitor__graph .graph__img {
    width: 100%;
  }
  .wrap .visitor__graph .graph__img img {
    width: 100%;
  }
  .wrap .swiper__container {
    width: 80%;
    padding: 0;
  }
  .wrap .banner__btn {
    position: static;
    transform: none;
  }
  .wrap footer .footer__top .btn__flex {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
  }
  .wrap footer .footer__top {
    height: auto;
  }
  .wrap footer .footer__top .btn__flex .top__btn:nth-child(1) {
    border-top: 1px solid #D8D8D8;
  }
  .wrap footer .footer__top .btn__flex .top__btn {
    width: 100%;
    border-bottom: 1px solid #D8D8D8;
  }
  .wrap footer .footer__top .btn__flex {
    flex-direction: column;
  }
  .wrap footer .footer__bottom .footer__flex {
    flex-direction: column;
  }
  .wrap .footer__global .g__flex {
    flex-direction: column;
  }
  .wrap .footer__global .global__link {
    margin-top: 16px;
  }
  .wrap .footer__global .global__link a {
    display: block;
    width: 100%;
    margin-bottom: 16px;
  }
  .wrap .footer__bottom .footer__logo {
    display: none;
  }
  .wrap .footer__bottom .mobile__logo {
    padding-top: 40px;
  }
  .wrap .sns__info {
    padding-top: 32px;
  }
  .wrap .sns__info .icon__wrap {
    padding: 32px 0;
  }
}
/* 모바일 최소 사이즈*/
@media all and (max-width: 420px) {
  .wrap .mobile__logo {
    width: 30%;
  }
  .wrap .mobile__logo img {
    width: 170%;
  }
  .wrap .header__btm .right__icon__set a {
    padding: 10px 8px;
  }
  .wrap .top__visual .main__hero .main__text .main__bold {
    font-size: 24px;
    white-space: nowrap;
  }
  .wrap .top__visual .main__hero .main__text .main__medium {
    font-size: 15px;
  }
  .wrap .top__visual .main__hero .quick__menu .quick__wrap {
    width: 90px;
    height: 90px;
  }
  .wrap .manual .tip {
    -o-object-fit: contain;
       object-fit: contain;
    width: 120px;
    height: auto;
  }
  .wrap .banner__text {
    font-size: 15px;
  }
}
/* 소형 노트북 & 태블릿 가로 사이즈  1024px ~ 1079px */
* {
  box-sizing: border-box;
}

#wrap {
  position: relative;
  overflow: hidden;
}

#skip-nav {
  display: none;
}

body {
  color: #1d1d1d;
  font-family: "Pretendard GOV Variable", "Pretendard GOV", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  overflow-x: hidden;
}

.inner {
  width: 1280px;
  margin: 0px auto;
}

.btn--active {
  background-color: #003675;
  color: #fff;
}

.btn--disabled {
  background-color: #fff;
  color: #1d1d1d;
}

.mobile__logo {
  display: none;
}

.header__btm .right__icon__set .hamburger {
  display: none;
}

.skip__nav {
  position: relative;
  z-index: 300;
}

.skip__nav a {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  background-color: #000;
  text-align: center;
  padding: 7px 0;
  font-size: 16px;
  color: #fff;
}

.skip__nav a:focus {
  top: 0;
  z-index: 100;
  outline: 2px dashed #0cc;
}/*# sourceMappingURL=default.css.map */