@import "header.scss";
@import "main.scss";
@import "swiper.scss";
@import "cs_footer.scss";
@import "media__query.scss";


* {
    box-sizing: border-box;
}

#wrap {
    position: relative;
    overflow: hidden;
}

#skip-nav {
    display: none;
}

body {
    color: #1d1d1d;
    font-family: "Pretendard GOV Variable", "Pretendard GOV", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    overflow-x: hidden;
}

.inner {
    width: 1280px;
    margin: 0px auto;
}

.btn--active {
    background-color: #003675;
    color: #fff;
}

.btn--disabled {
    background-color: #fff;
    color: #1d1d1d;
}

.mobile__logo {
    display: none;
}

.header__btm .right__icon__set .hamburger {
    display: none;
}

// 웹 접근성 skip navigation

.skip__nav {
	position: relative;
	z-index: 300;
}
.skip__nav a {
	position: absolute;
	top: -50px;
	left: 0;
	width: 100%;
	background-color: #000;
	text-align: center;
	padding: 7px 0;
	font-size: 16px;
	color: #fff;
}
.skip__nav a:focus {
	top: 0;
	z-index: 100;
    outline: 2px dashed #0cc;
}
