/* tree */
.tree{font-family:'돋움',Dotum,AppleGothic,sans-serif; font-size:12px;color:#000;line-height:16px}
.tree ul,.tree li,.tree span{margin:0;padding:0}
.tree li{list-style:none}
.tree li a{color:#000;}
.tree li a:hover{color:#FF9900;}
.tree .tree_ico{display:inline-block;width:20px;height:20px;margin:0 -4px 0 2px;vertical-align:top}
.tree .tree_ico img{vertical-align:top}
.tree .tree_label{margin-left:3px;vertical-align:top;text-decoration:none;}
.tree .tree_label a{display:inline-block; margin:-1px 0 0 1px;padding-left:10px;font-family:'돋움',dotum;font-size:11px;color:#aaa;line-height:13px;letter-spacing:-1px;vertical-align:top}
.tree ul{background:url(bg_tree_stream.gif) repeat-y 9px 0}
.tree li{padding-left:18px;background:url(bg_tree_branch.gif) no-repeat 9px -22px}
.tree li.tree_last_node{margin-bottom:4px;background:url(bg_tree_branch_last.gif) no-repeat 9px -22px}
/* //tree */
